*
{
    background-color:rgb(248, 195, 205);
    text-align: center;
}

a:hover
{
    background-color:rgb(254, 223, 225);
}

a i
{
    color:rgb(203, 27, 69)
}

a i:hover
{
    background-color:rgb(254, 223, 225);
}
#ab
{
    color: rgb(17, 50, 133);
}

ul a i:hover
{
    background-color:rgb(254, 223, 225);
}

p
{
    color: rgb(33, 30, 85);
}

.line
{
    font-size: x-large;
    background-color:rgb(245, 150, 170) ;
    margin: -10px -10px 10px -10px;
    padding: 10px 0px 10px 0px;
}
