*
{
    background-color:rgb(248, 195, 205);
}

a:hover
{
    background-color:rgb(130, 130, 130);
    color: rgb(252, 250, 242);
}

a i
{
    color:rgb(203, 27, 69)
}

a i:hover
{
    background-color:rgb(254, 223, 225);
}

#ab
{
    color: rgb(17, 50, 133);
}

ul a:hover
{
    background-color:rgb(254, 223, 225);
}

p
{
    color: rgb(33, 30, 85);
}

.line
{
    font-size: xx-large;
    background-color:rgb(245, 150, 170) ;
    margin: -0.6% -10% 0% -0.5%;
    padding: 1% 0% 1% 1%;
}

.mid
{
    text-align: center;
}

.text
{
    margin: 0% 30% 0% 30%;
}
