.line
{
    background-color: rgb(245, 150, 170);
    padding: 20px;
    margin:-10px -10px 0px -10px;
}

.title
{
    background-color: rgb(248, 195, 205);
    margin:-21px -15px 0px -9px;
}

.article
{
    background-color:rgb(254, 223, 225);
    margin:-20px -15px 0px -9px;
}